* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    background-image: url(/assets/images/backgrounds/GuileStage.png);
    background-color: lightskyblue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#score {
    font-size: 4em;
}

#whackboard {
    display: grid;
    height: 50%;
    width: 80%;
}